<footer>
	<div class="jumbotron " style="margin-bottom:0" width="100%">
		<div class="row">
			<div class="col-md-4">
				<section>
					<div class="locationFooter">
						<h1>Location</h1><br>
						<p>4452 location CASA,Maroc</p>

					</div>
				</section>
			</div>
			<div class="col-md-4">
				<section>

					<div class="about">
						<h2>About US</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem.
							              Amet aliquid
							              nesciunt veritatis aliquam</p>
					</div>
				</section>
			</div>
			<div class="col-md-4">
				<h2>FOLLOW US
				</h2>


				<i class="fab fa-facebook-f"></i>

				<i class="fab fa-twitter"></i>
				<i class="fab fa-instagram"></i>

			</div>

		</div>


		<div class="copyright">
			<h5>Copyright @Website 2020</h5>
		</div>
	</div>
</footer>
