.carousel-inner img {
      width: 100%;
      height: 650px;
  }

  .imageview{
      margin-top: 25px;
  }

  
 

  div .txt1 h6{
      color: darkgrey;
      text-align: center;
     
  }

  div .txt1 h1{
      text-align: center;
      font-size: 45px;
      font-style: normal;
      
  }

  .container .txt1{
      margin-top: 5px;
  }
    .card-sty{

    }
  .container .text-center{
      text-align: center;
      left: 25%;
  }
 .divh h2{
      text-align: center;
      font-size: 40px;
      font-style: italic;
      color:darkgray;
      margin-top: 25px;
  }

  .jumbotron .icon span .flab {
       position:static;
       left: 50%;
       right: 50%;
       top: 50%;
  }

  .container {
      margin-top: 150px;
  }

 @media only screen and (max-width:768px)
 {
     .container .text-center {
       text-align: center;
       left: 2%;
     }
     
 }