.list-group{
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.btn.btn-danger{
   margin-top: 20px;
   position: relative;
   left: 1000px;
   width: 120px;
   border-radius:25px;
}

.list-group-item.head{
   background-color: blanchedalmond;
}

.list-group-item.body{
   background-color: burlywood;
}
